<div class="details-container">
  <div class="movie-container">
    <%= image_tag @movie.poster, alt: "movie poster", width: 400 %>
    <div class="movie-info">
      <h1><%= @movie.title %></h1>
      <h2><%= @movie.age_limit %></h2>
      <h3><strong> Genre:</strong><%= @movie.genre %></h3>
      <h3><strong> Duration (minutes):</strong><%= @movie.duration %></h3>
      <p><strong> Synopsis: </strong><%= @movie.synopsis %></p>
    </div>

  </div>


</div>
