<div class="details-container">
  <div class="movie-container">
    <%= image_tag @movie.poster, alt: "movie poster", width: 400 %>
    <div class="movie-info">
      <div class="movie-title"><p style="font-weight: bold"><%= @movie.title %></p></div>
      <div class="general-info">
        <p><strong> Age Limit: </strong> M/<%= @movie.age_limit %></p>
        <p><strong> Genre:</strong> <%= @movie.genre.capitalize %></p>
        <p><strong> Duration (minutes): </strong><%= @movie.duration %></p>
      </div>
      <p><%= @movie.synopsis %></p>

      <div class="schedule">

        <div>
          <p><strong>Choose a Date</strong></p>
          <%= render 'shared/schedule' %>
        </div>

        <div class="schedule-buttons">
          <div class="form-post">
            <%= simple_form_for @booking do |f| %>
              <%= f.association :movie_session, collection: @sorted_sessions, input_html: { class: 'sessions-button-input' }, label: false, label_method: lambda { |movie_session| "#{movie_session.start_date.strftime('%H:%M')}".html_safe }, as: :radio_buttons, item_wrapper_class: 'sessions-button'  %>
              <%= f.hidden_field :movie_session, value: @movie_sessions %>
            <% end %>
          </div>
          <div id="number-tickets" class="hidden">
            <%=  @maximum_capacity = @movie.movie_sessions[0].capacity %>
            <%= @available_seats = @maximum_capacity - @booking %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



