
<div class="pay-container">
  <div class="movie-cont">
    <%= image_tag @booking.movie.poster, alt: "movie poster", id: "image_pay" %>
    </div>
  <div class="payment-form-container">
    <div class="payment-form">
      <h3 class="pay-title">Secured Payment Form</h3>
      <div class="movie-detail">
        <div class="movie-session">



      <div class="order">
        <div class="quantity">
          <p>Movie :</p>
          <p>Theatre : </p>
          <p>Date :</p>
          <p>Quantity :</p>
          <p ><strong>Total price :</strong></p>
        </div>
        <div class="price">
           <p> <%= @booking.movie_session.movie.title %></p>
          <%#= link_to # do %>
          <p> <%= @booking.movie_session.movie.cinema.name %></p>
          <%# end %>
          <p><span style=""><%= @booking.movie_session.start_time.strftime('%d %B') %>

          <%= @booking.movie_session.start_time.strftime('%H:%M') %></span></p>
          <p><span><%= @booking.seats%>
            <%= "seats" if @booking.seats > 1 %>
            <%= "seat" if @booking.seats <= 1 %>
            @ <%= @booking.movie_session.price %>€</span></p>
         <p><strong>  <%= @booking.seats * @booking.movie_session.price %> €</strong></p>
        </div>
      </div>
      <p id="title_line">Credit-Card Details</p>

      <div class="payment-data">
      <form>
        <div class="form-group pay-name">
          <label for="Name on Card">Name on Card</label>
          <input type="text" class="form-control" id="name_on_card" placeholder="Enter name">
        </div>
        <div class="form-group pay-number">
          <label for="Card Number">Card Number</label>
          <input type="text" class="form-control" id="card_number"  placeholder="Enter card number">
        </div>
        <div class="form-group">
          <label for="Expiry Date">Expiry Date</label>
          <input type="month" class="form-control" id="exp_month" >
        </div>
        <span class="form-group">
          <label for="Name on Card">CVV</label>
          <input type="text" class="form-control" id="cvv" maxlength="3" >
        </span>
        <div class="form-check">
         <input type="checkbox" class="form-check-input" id="Check">
          <label class="form-check-label" for="Check1">I accept the terms and conditions</label>
        </form>
        <%= button_to "Pay Now", dashboard_path,method: :get, class: "btn btn-primary", id: "pay-button" %>
        </div>


  </div>
  </div>
</div>


