<div class="container">

<h1>My history</h1>

<div class="container">
<% @user.bookings.each do |booking| %>
<ul>
<%= image_tag booking.movie.poster, width: 150 %>
<div>
<ul><%= booking.movie.title  %></ul>
<ul><%= booking.movie_session.start_date  %></ul>
<ul><%= booking.seats %></ul>
<ul><%= booking.price %></ul>
<ul><%= booking.status %></ul>

</div>
</ul>
<% end %>
</div>

</div>