<div class="container">
  <h2>Your Review for <%= @booking.movie.title %></h2>
    <div>
      <%= simple_form_for ([@booking, @review]) do |f| %>
        <%= f.input :description %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit :Submit, class: "btn btn-primary create-booking" %>
      <% end %>
    </div>
</div>
